mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    flex-direction: row;
    gap: 5%;
    align-items: center;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    gap: 5%;
    overflow-y: scroll;
} 