<ng-container *ngIf="(formData$ | async) as formData">
    <mat-card class="cards-container">
        <mat-card-header>
            <mat-card-title>Editing a film</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <form *ngIf="formData.film" [formGroup]="filmForm" (ngSubmit)="submitFilm()">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Release year</mat-label>
                    <input matInput type="number" formControlName="release_year">
                    <mat-error *ngIf="filmForm.controls.release_year.invalid">
                        Please enter a valid year
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="outline">
                    <mat-label>Language</mat-label>
                    <mat-select formControlName="language_id">
                        <mat-option *ngFor="let lang of formData.languages" [value]="lang.language_id">
                            {{lang.name}}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Rental Duration</mat-label>
                    <input matInput type="number" formControlName="rental_duration">
                    <span matTextSuffix>days</span>
                    <mat-error *ngIf="filmForm.controls.rental_duration.invalid">
                        Please enter a valid duration
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Rental Rate</mat-label>
                    <input matInput type="number" formControlName="rental_rate">
                    <span matTextPrefix>$&nbsp;</span>
                    <span matTextSuffix>(For specified duration)</span>
                    <mat-error *ngIf="filmForm.controls.rental_rate.invalid">
                        Please enter a valid rate
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Length</mat-label>
                    <input matInput type="number" formControlName="length">
                    <span matTextSuffix>min</span>
                    <mat-error *ngIf="filmForm.controls.length.invalid">
                        Please enter a valid length
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Replacement Cost</mat-label>
                    <input matInput type="number" formControlName="replacement_cost">
                    <span matTextPrefix>$&nbsp;</span>
                    <mat-error *ngIf="filmForm.controls.replacement_cost.invalid">
                        Please enter a valid cost
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Rating</mat-label>
                    <mat-select formControlName="rating">
                        <mat-option *ngFor="let rating of filmRatings" [value]="rating">
                            {{rating}}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>
    
                <div class="center">
                    <button mat-button type="submit" [disabled]="!filmForm.valid">Submit</button>
                    <button mat-button type="button" [routerLink]="['../../']">Cancel</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</ng-container>


