
<div class="cards-container">
    <h2>Lets choose a backend solution for domain: {{selectedDomainId$ | async}}!</h2>
    <mat-card class="option-card" *ngFor="let opt of backendOptions$ | async">
        <mat-card-header>
            <mat-card-title>{{opt.title}}</mat-card-title>
            <mat-card-subtitle>ID: {{opt.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <br>
            <p>{{opt.summary}}</p>
            <mat-divider></mat-divider>
            <mat-chip-set *ngIf="opt.tags.length">
                <mat-chip *ngFor="let tag of opt.tags">{{tag}}</mat-chip>
            </mat-chip-set>
            <ng-container *ngIf="opt.details.length">
                <br>
                <ng-container *ngFor="let detail of opt.details">
                    <span matListItemTitle>{{detail.title}}:</span>
                    <mat-list *ngIf="detail.values.length">
                        <mat-list-item matListItemLine *ngFor="let value of detail.values">
                           + {{value}}
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </ng-container>
        </mat-card-content> 
        <mat-card-actions class="card-actions">
            <button mat-button>Go to solution!</button>
        </mat-card-actions>
    </mat-card>
</div>
